#popup {
    padding: 1em;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    background-color: white;
    width: 40vw;
    max-width: 40vw;
}
#popup.active {
    transform: translate(-50%, -50%) scale(1);
}

.popup_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.container {
    max-width: 60vw !important;
}
#table_container.container {
    max-width: 80vw !important;
}
